{% extends 'core/client/base.html' %}

{% load static %}

{% block content %}
<section id="hero" class="d-flex align-items-center">
  <style>
.tituloCustom {
  font-family: 'Great Vibes', cursive !important;
  color: #E6C068 !important;
  font-size: clamp(15rem, 20vw, 18rem) !important; /* Aumenté el tamaño de la fuente */
  font-weight: 400 !important;
  margin: 0 !important;
  line-height: 1 !important;
  letter-spacing: 0.05em !important; /* Aumenté el espaciado entre letras */
  transform: rotate(-2deg) !important;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  display: inline-block; /* Asegura que el título ocupe el espacio necesario */
  /* Agregar los keyframes para la animación */
    opacity: 0; /* Inicialmente oculto */
  animation: fadeInHero 4s ease forwards; /* Animación de 5 segundos */
  animation-delay: 4s; /* Espera 5 segundos antes de comenzar */
  text-shadow: 0 0 10px rgba(230, 192, 104, 0.5); /* Sombra de texto */
  
}
@keyframes fadeInHero {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

</style>
  <video 
      autoplay 
      muted 
      playsinline
      poster="imagen-preview.jpg"
      class="banner-video">
      <source src="{% static 'portada.mp4' %}" type="video/mp4">
      <!-- Fallback para navegadores antiguos -->
      Tu navegador no soporta el elemento video.
  </video>
  <div class="container position-relative text-center text-lg-bottom" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">
      <div class="col-lg-12">
          <h1 class="tituloCustom">Secrets</h1>
        <div class="btns mt-5 text-end">
          <a href="#why-us" class="btn-book animated fadeInUp scrollto">¡Explora!</a>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Hero -->
<script>
  window.onload = function() {
  // Obtener el elemento de video
  const video = document.querySelector('.banner-video');
  
  // Verificar si el video existe
  if (video) {
      // Cargar y reproducir el video
      video.load();
      
      // Crear una promesa para asegurarnos de que el video está listo
      const playPromise = video.play();
      
      if (playPromise !== undefined) {
          playPromise.then(_ => {
              // Video está reproduciendo correctamente
              console.log('Video iniciado correctamente');
          })
          .catch(error => {
              // Si hay algún error en la reproducción
              console.log('Error al reproducir el video:', error);
          });
      }
  }
};

// Opcionalmente, también puedes manejar la recarga del video si la página
// se pone en segundo plano y vuelve a estar activa
document.addEventListener('visibilitychange', function() {
  const video = document.querySelector('.banner-video');
  if (document.visibilityState === 'visible' && video) {
      video.play();
  }
});
</script>

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="why-us" class="why-us about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Categorias</h2>
        <p>En Secrets Lideramos por la calidad de nuestros productos</p>
      </div>

      <div class="row">
        {% for categoria in categorias %}
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="200">
            <span>{{ categoria.imagen }}</span>
            <h4>{{ categoria.descripcion }}</h4>
            <p>{{ categoria.descripcion }}</p>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </section><!-- End About Section -->

      <!-- ======= Testimonials Section ======= -->
      <section id="best" class="testimonials">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Destacados</h2>
            <p>¡Los productos favoritos!</p>
          </div>
  
          <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
  
              {% for producto in productos_destacados %}
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {{ producto.descripcion }}
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </p>
                  <img src="{{ producto.imagen }}" alt="Product Image">
                  <h3>{{ producto.nombre }}</h3>
                  <p>{{ producto.descripcion }}</p>
                </div>
              </div><!-- End testimonial item -->
              {% endfor %}

            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Testimonials Section -->
  

  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Más Vendidos</h2>
        <p>La vida es una, ¡No te pongas limites!</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <li data-filter="*" class="filter-active">All</li>
            {% for categoria in categorias %}
            <li data-filter=".filter-{{ categoria.nombre }}">{{ categoria.descripcion }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

        {% for producto in productos_mas_vendidos %}
        
        <div class="col-lg-6 menu-item {{producto.categoria}}">
          <img src="{{ producto.imagen }}" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">{{ producto.nombre }}</a><span>${{ producto.precio }}</span>
          </div>
          <div class="menu-ingredients">
            {{ producto.descripcion }}
          </div>
        </div>
        {% endfor %}

      </div>

      <div class="d-flex justify-content-center mt-3">
        <a href="#book-a-table" class="book-a-table-btn scrollto d-lg-flex px-5">Ver más</a>
      </div>

    </div>
  </section><!-- End Menu Section -->

  <!-- ======= Specials Section ======= -->
  <section id="digitales" class="specials events">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Productos Digitales</h2>
        <p>Los secretos de la intimidad revelados</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            
            {% for producto in productos_digitales %}
            {% if forloop.counter == 1 %}
            <li class="nav-item active show">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-{{ producto.id }}">{{ producto.nombre }}</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-{{ producto.id }}">{{ producto.nombre }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            {% for producto in productos_digitales %}
            {% if forloop.counter == 1 %}
            <div class="tab-pane active show" id="tab-{{ producto.id }}">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>{{ producto.nombre }}</h3>
                  <p class="fst-italic">{{ producto.descripcion }}</p>
                  <p >{{ producto.categoria }}</p>
                 </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{{ producto.imagen }}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            {% else %}
            <div class="tab-pane" id="tab-{{ producto.id }}">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">

                  <h3>{{ producto.nombre }}</h3>
                  <p class="fst-italic">{{ producto.descripcion }}</p>
                  <p >{{ producto.categoria }}</p>


                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{{ producto.imagen }}" alt="" class="img-fluid">
                </div>
      
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Specials Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonios" class="testimonials">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Testimonials</h2>
        <p>What they're saying about us</p>
      </div>

      <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          {% for testimonio in testimonios %}
          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left">{{testimonio.descripcion}}</i>
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{{tertimonio.imagen.url}}" class="testimonial-img" alt="">
              <h3>{{testimonio.nombre}}</h3>
              <h4>{{testimonio.nombre}}</h4>
            </div>
          </div><!-- End testimonial item -->
          {% endfor %}

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

  <section id="contacto" class="contact section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div>
    </div>
  
    <div class="container" data-aos="fade-up">
      <div class="row mt-5">
        
        <!-- Información de contacto -->
        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
  
            <div class="open-hours">
              <i class="bi bi-clock"></i>
              <h4>Open Hours:</h4>
              <p>
                Monday-Saturday:<br>
                11:00 AM - 2300 PM
              </p>
            </div>
  
            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>info@example.com</p>
            </div>
  
            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+1 5589 55488 55s</p>
            </div>
          </div>
        </div>
        
        <!-- Formulario de contacto -->
        <div class="col-lg-8 mt-5 mt-lg-0">
          <form action="{% url 'index' %}" method="post" role="form" class="php-email-form">
            {% csrf_token %}
            
            <div class="row">
              <div class="col-md-6 form-group">
                {{ form.nombre }}
                {% if form.nombre.errors %}
                  <div class="text-danger">{{ form.nombre.errors }}</div>
                {% endif %}
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                {{ form.email }}
                {% if form.email.errors %}
                  <div class="text-danger">{{ form.email.errors }}</div>
                {% endif %}
              </div>
            </div>
            
            <div class="form-group mt-3">
              {{ form.mensaje }}
              {% if form.mensaje.errors %}
                <div class="text-danger">{{ form.mensaje.errors }}</div>
              {% endif %}
            </div>
            
            <!-- Renderización del campo Captcha -->
            <div class="form-group mt-3">
              {{ form.captcha }}
              {% if form.captcha.errors %}
                <div class="text-danger">{{ form.captcha.errors }}</div>
              {% endif %}
            </div>
            
            <div class="my-3">
              {% if messages %}
                {% for message in messages %}
                  <div class="sent-message">{{ message }}</div>
                {% endfor %}
              {% endif %}
            </div>
            
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </section>
  
</main><!-- End #main -->

{% endblock %}
